.questionnaire-wrapper{
  padding-top: 22px;
  background: url(../../../images/map-bg.jpg);
  .questionnaire{
    background-color: #fff;
    width: 1000px;
    margin: 0 auto;
    border: 1px solid #e5e5e5;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-top: 44px;
    .questionnaire-top{
      width: 1234px;
      height: 131px;
      background-image: url("../../../images/q-top.png");
      margin-left: -117px;
    }
    .table-wrapper{
      width: 968px;
      margin: 0 auto 34px;
      border:1px solid #9babb8;
      .table-row{
        height: 49px;
        border-bottom:1px solid #9babb8;
        margin-bottom: -1px;
        display: flex;
        text-align: center;
        line-height: 48px;
        font-size: 18px;
        color: #9babb8;
        input{
          width:150px;
          height: 46px;
          border: none;
          margin-left: 1px;
          margin-top: 1px;
          text-align: center;
          &:focus{
            border: none;
            box-shadow: none;
            outline: none;
          }
        }
      }
      .table-col-1{
        flex: 1;
        border-right:1px solid #9babb8;
        margin-right: -1px;
      }
      .table-col-3{
        flex: 3;
        border-right:1px solid #9babb8;
        margin-right: -1px;
      }
    }
    .questionnaire-mid{
      width: 923px;
      height: 75px;
      background-image: url(../../../images/q-middle.png);
      margin: 0 auto 92px;
    }
    .exercise-btn{
      display: block;
      margin: 0 auto;
      height: 62px;
      font-size: 34px;
      background-color: #c21579;
      border: none;
      padding: 0 90px;
      border-radius: 16px;
      &.ant-btn-clicked:after{
        border: none;
      }
    }

    .questionnaire-bottom{
      width: 1064px;
      height: 439px;
      background-image:url("../../../images/q-bottom.png");
      margin-left: -38px;
    }
  }
}


//Exercise
.exercise{
  width: 880px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1;
  .exercise-content{
    color: #841354;
    margin-bottom: 12px;
  }
  .exercise-answer{
    color: #000;
    li{
      margin-right: 15px;
      &:last-child{
        margin-right: 0;
      }
      cursor: pointer;
      &.active{
        color: #841354;
      }
    }
  }
}
.exercise-cell{
  margin-bottom: 44px;
  &:nth-child(5){
    margin-bottom: 72px;
  }
}
.exercise-text{
  font-size: 18px;
  line-height: 1;
  margin: 0 auto 14px;
  width: 873px;
  &:last-child{
    margin-bottom: 34px;
  }
  .exercise-content{
    color: #841354;
    margin-bottom: 12px;
  }
  textarea{
    resize: none;
    border: 1px solid #841354;
    width: 873px;
    height: 163px;
    padding: 10px;
    color: #222;
    outline:none;
  }
  .ant-input:focus{
    border-color: #841354;
    box-shadow: none;
  }
}

//editable
.ant-table-thead{
  display: none;
}
.editable-cell {
  position: relative;
}

.editable-cell-input-wrapper,
.editable-cell-text-wrapper {
  padding-right: 24px;
}

.editable-cell-text-wrapper {
  padding: 5px 24px 5px 5px;
}

.editable-cell-icon,
.editable-cell-icon-check {
  position: absolute;
  right: 0;
  width: 20px;
  cursor: pointer;
}

.editable-cell-icon {
  line-height: 18px;
  display: none;
}

.editable-cell-icon-check {
  line-height: 28px;
}

.editable-cell:hover .editable-cell-icon {
  display: inline-block;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
  color: #108ee9;
}

.editable-add-btn {
  margin-bottom: 8px;
}
