.case{
  height:100%;
  min-height: 630px;
  .case-bg{
    color: #eedcdc;
    background-color: #f7e4e4;
  }
  .case-t{
    width: 100%;
    left: 0;
    margin-left: 0;
  }
  .case-box{
    height: 444px;
    background-color: #fff;
    overflow: hidden;
    position: absolute;
    width: 100%;
    left: 0;
    top:50%;
    margin-top: -222px;
    .case-content{
      width: 1146px;
      height: 348px;
      margin: 35px auto 0;
      .case-content-left{
        width: 210px;
        height: 344px;
        border:1px solid #c3c3c3;
        padding: 1px 2px;
        margin-top: 2px;
        li{
          position: relative;
          margin-bottom: 3px;
          .tab-header{
            height:111px;
            line-height: 111px;
            text-align: center;
            color: #5a5a5a;
            font-size: 22px;
            cursor: pointer;
          }
          .right{
            position: absolute;
            width: 10px;
            height: 20px;
            background-image: url("../../../images/tab-right.png");
            right: -22px;
            top:50%;
            margin-top: -10px;
            display: none;
          }
          &.active{
            .tab-header{
              color: #fff;
              text-align: left;
              text-indent: 70px;
              background: url("../../../images/case-icon.png") no-repeat 16px center #eb2499;
            }
            .right{
              display: block;
            }
          }
          &:nth-child(2).active{
            .tab-header{
              background-image: url("../../../images/huiyinwanhui.png");
            }
          }
          &:nth-child(3).active{
            .tab-header{
              background-image: url("../../../images/liangxingketang.png");
            }
          }
        }
      }
      .case-content-right{
        width: 905px;
        height: 348px;
        border: 2px solid #eb2499;
        padding: 18px 25px 0 12px;
        img{
          width: 318px;
          height: 303px;
        }
        .line-box{
          margin: 13px 26px 0;
          .dot{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #eb2499;
          }
          .line{
            width: 1px;
            height: 256px;
            background-color: #eb2499;
            margin-left: 4px;
          }
        }
        .case-article,h3{
          font-size: 24px;
          color:#999;
          line-height: 36px;
          h3{
            line-height: 1;
            text-align: center;
            margin-bottom: 22px;
          }
          .article-content{
            height: 210px;
            overflow: hidden;
          }
          a{
            color:#eb2499;
          }
        }
      }
    }
  }
}
