.about{
  height:200%;
  min-height: 554px;
  .section-bg{
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    text-align: center;
    font-size: 48px;
    line-height: 136px;
  }
  .about-wrapper {
    height: 50%;
    position: relative;
    min-height: 554px;
    .section-bg{
      color: #e6e6e6;
      background: url("../../../images/bg-about.jpg");
    }
    .about-us{
      position: absolute;
      height: 100%;
      overflow: hidden;
      top:0;
      left: 50%;
      margin-left:-506px;
      ul{
        margin-top: 62px;
        li{

        }
        .list-item{
          width: 100%;
          height: 164px;
          position: relative;
          margin-top: -46px;
          .icon{
            width: 175px;
            height: 164px;
            background: no-repeat center;
            &:first-child{
              background-image: url(../../../images/jxzz.png);
            }
            &.sec{
              background-image: url(../../../images/yxem.png);
            }
            &.th{
              background-image: url(../../../images/spmn.png);
            }
            &.four{
              background-image: url(../../../images/wsfw.png);
            }
          }
          .text{
            position: absolute;
            width: 70%;
            top:50%;
            transform:translateY(-50%);
            &.right{
              right: 175px;
            }
            &.one{
              color: #059695;
            }
            &.two{
              color: #f96;
            }
            &.three{
              color: #e25e90;
            }
            &.four{
              color: #acacff;
            }
          }
          &:nth-child(2n+1){
            float: left;
          }
          &:nth-child(2n+0){
            float: right;
          }
        }
      }
    }
  }
  .our-team-wrapper{
    height:50%;
    position: relative;
    min-height: 375px;
    .section-bg{
      color: #f5e7e6;
    }
    .our-team{
      height: 100%;
      position: absolute;
      top:0;
      left: 50%;
      margin-left:-506px;
    }
  }
}
