.nav{
  height:80px;
  padding: 17px 0;
  background-color: #fcf4f5;
  .logo{
    width: 179px;
    height: 46px;
    background: url("../../../images/logo.png") no-repeat center;
    margin-left: 145px;
  }
  .test-btn{
    width: 112px;
    height: 46px;
    border-radius: 3px;
    background-color: #f01b9c;
    line-height: 46px;
    text-align: center;
    color: #fcf4f5;
    margin-right: 142px;
    cursor: pointer;
    font-size: 16px;
  }
  .nav-bar{
    margin-top: 10px;
    height: 20px;
    line-height: 20px;
    a.active{
      .list-item{
        color:#f01b9c;
      }
    }
    .list-item{
      padding: 0 28px;
      color: #5c5859;
      font-size: 18px;
    }
  }
}
